main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--card-background);
  border-radius: 18px;
  max-width: 300px;
  width: 100%;
  padding: 0.75rem;
}

.image-container {
  width: 100%;
  text-align: center;
  margin: 0;
}

.image-container img {
  width: 100%;
  max-width: 300px;
  height: auto;

  border-radius: 5px;
}

.card-container-description {
  gap: 0.25rem;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-bottom: 0.25rem;
}

.card-container-description h2 {
  margin-bottom: 0.25rem;
}

.card-container-description p {
  margin-bottom: 0.25rem;
}

.card-container-value-date-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
}

.card-container-value,
.card-container-time {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 50%;
}

.card-container-value p {
  color: var(--primary-color-cyan);
  line-height: 20px;
}

footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.25rem auto 0;
}

footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(255, 158, 2);
}

footer p {
  margin-left: 10px;
  width: 100%;
}

footer span {
  margin-left: 10px;
  font-weight: var(--font-weigth-600);
}

@media (min-width: 768px) {
  .container {
    max-width: 30%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 30%;
  }
}
