@import "./index.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-outfit);
  font-size: var(--font-size);
  background-color: var(--main-background);
}

h2,
span {
  color: var(--neutral-white);
}

p {
  color: var(--primary-color-soft-blue);
}

@media (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
  }
}
