@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-backgorund: hsl(217, 54%, 11%);
  --card-backgorund: hsl(216, 50%, 16%);
  --neutral-line: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);
  --primary-color-soft-blue: hsl(215, 51%, 70%);
  --primary-color-cyan: hsl(178, 100%, 50%);
  --font-size: 18px;
  --font-family-outfit: Outfit, sans-serif;
  --font-weigth-300: 300;
  --font-weigth-400: 400;
  --font-weigth-600: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
